* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.title{
    text-transform: uppercase;
    color: #6320ee;
}
.result {
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.boxList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.capsule {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spanCap {
    display: flex;
    align-items: center;
    gap: 30px;
}
.listElement {
    font-weight: bolder;
    font-size: 20px;
}
.capsule:has(input:checked) .listElement {
    text-decoration: line-through;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.champ {
    width: 300px;
    border-radius: 20px;
    background: rgb(230, 230, 230);
    border: none;
    padding: 15px;
}
.btn {
    width: 150px;
    background: #6320ee;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.btnDelete {
    width: 100px;
    background: rgb(255, 39, 39);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    padding: 10px;
}